body {
	background-color: hsl(222.1 32.9% 28%);
	color: hsl(221.1 29.9% 77.1%);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	max-width: 40rem;
}

a:link,
a:visited {
	color: hsl(236.6 27.2% 61.8%);
}

a:hover,
a:active {
	color: hsl(238, 58%, 77%);
}
